/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* =============== */
 /*     FONTS       */
 /* =============== */
 @import url("https://fonts.googleapis.com/css?family=Yatra+One|Stint+Ultra+expanded|Strait|&display=swap");


 :root{
   --main-font: 'Yatra One';
   --header-font: 'Stint Ultra Expanded';
   --button-font: 'Strait';
 }
 /* =============== */
 /*     MAIN       */
 /* =============== */
 body{
   font-family: var(--main-font);
   background: black;
   color: white;
 }
.main-container{
  display: flex;
}
/* =============== */
/*     ASIDE       */
/* =============== */
aside{
  width: 350px;
  padding: 0px 20px;
  box-sizing: border-box;
  background: black;
  color: #9A9F98;
  text-shadow: 2px 2px 2px black;
  text-transform: uppercase;
}
aside h1{
  font-family: var(--header-font);
}
aside ul{
  list-style-type: none;
  padding: 0;
}
aside li{
  display: inline-block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-family: var(--header-font);
  background:#87343F;
  margin-bottom: 5px;
  border-radius: 5px;
}
/* =============== */
/*     HEADER      */
/* =============== */
header h1{
  text-align: center;
}
/* =============== */
/*     POSTS       */
/* =============== */
article{
  text-align: center;
}
.post-header img{
  width: 250px;
  height: 150px;
  padding: 2px;
  border:  1px solid #ddd;
}
.post-options ul{
  list-style-type: none;
  padding: 12px 0px;
  font-family: var(--button-font);
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid white;
}
.post-options li{
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  background: #87343F;
  color: #9A9F98;
  text-shadow: 2px 2px 2px black;
  margin: 20px 10px;
  border: 5px;
}
/* =============== */
/*     FORM        */
/* =============== */
form{
  padding: 20px;
  text-align: center;
}
label{
  dislay: inline-block;
  width: 50%;
  margin: 12px;
  text-align: left;
  text-transform: uppercase;
  font-family: var(--main-font);
  color: white;
  text-shadow: 2px 2px 2px #87343F;
  text-decoration: underline;
}
textarea{
  width: 100%;
  resize: none;
  display: block;
  border: 1px solid #87343F;
  border-radius: 5px;
  padding: 15px;
  margin-top: 10px;
}
input[type="submit"]{
  display: block;
  background: #87343F;
  color: #9A9F98;
  text-shadow: 2px 2px 2px black;
  text-transform: uppercase;
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
}
